* {
    margin: 0;
    padding: 0;
}



body{
    background-color: #375;
}

.game-section{
   padding-top: 10px;
}   


.container{
    width: 960px;
    margin: auto;
}

.container-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game-board {
    position: relative;
    min-height: 450px;
    min-width: 450px;
    background-color: #ffffff;
    border: 10px solid #657;
}


.square {
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #ffffff;
}


.buttons{
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.button{
    padding: 5px;
    border-radius: 5px;
    margin: 1px;
    border: none;  
}


#start-button{
    background-color: #0bd30b;
}

#pause-button{
    background-color:#e0880d ;
}

#stop-button{
    background-color: #df3c37;
}

.scores{
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
}


#current-score{
    color: red;
    position: absolute;
    font-size: 15px;
    bottom: 0;
    left: 0;
    padding: 0 15px 0 5px;
    z-index: 2;
}


#max-score{
    color:red;
    position: absolute;
    font-size: 15px;
    padding-left: 10px; 
    z-index: 2; 
    bottom: 0;

}

/************ for responsive  *****************/

@media all and (max-width: 1024px){
    .container{
        width: 100%;
    }
   
}


@media all and (max-width: 560px) {
    .buttons{
        flex-direction: row;
    }
   
}

